<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <a href="/" class="navbar-brand"><img src="images/home/logo.png"></a>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" href=""
                data-toggle="dropdown">ระบบหลังบ้าน</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/manage">จัดการสินค้า</a>
                <a class="dropdown-item" href="/addform">บันทึกสินค้า</a>
            </div>
        </li>
    </ul>
</nav>